body {
    color: #2C2C2C;
    background-color: #E9EBEE;

    &.single-form {

    }
    &.login,
    &.signup,
    &.password-reset,
    &.password-change {
        .card {
            background-color: rgba(0,0,0, 0.5)
        }
    }
}