.footer {
    margin-top: 15px;
    padding: 50px 0;
    background-color: #1e88e5;
    color: #fff;
    font-size: 1.4rem;

    .links {
        list-style-type: none;
        margin: 0;
        padding: 0;
        float: right;

        li {
            float: left;

            a {
                color: #fff;

                padding: 0 5px;

                &:hover {
                    text-decoration: none;
                }
            }

            &:last-child {
                a {
                    padding-right: 0;
                }
            }
        }
    }
}
