{% extends "email/layout.html" %}
{% load i18n %}
{% block email_subject %}
  {% blocktrans with app_name=APP_NAME %}{{app_name}} account activation{% endblocktrans %}
{% endblock %}
{% block email_subject_2 %}
  {% blocktrans with app_name=APP_NAME %}{{app_name}} account activation{% endblocktrans %}
{% endblock %}
{% block body %}

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td class="content-block">
            {% blocktrans with username=user.email %}Hello {{ username}}{% endblocktrans %},
        </td>
    </tr>
    <tr>
        <td class="content-block">
              {% blocktrans %}Please click on the link below to confirm your registration:{% endblocktrans %}
        </td>
    </tr>
    <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
            <a href="{{ domain }}{% url 'account_activate' uidb64=uid token=token %}" class="btn-primary" itemprop="url" target="_blank">
              {% trans 'Activate account' %}
            </a>
        </td>
    </tr>
</table>

{% endblock %}
