.arcgis {
    &.world {
        position: fixed;
        top: 55px;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: calc(100% - 55px);
        border: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        z-index: 1;
    }
}

.arcgis-cta {
    text-align: center;

    .map-link {
        color: #FFFFFF;

        .map-icon {
            font-size: 2.5rem;
        }

        .map-location-name {
            font-size: 2rem;
            font-weight: 100;
            margin-bottom: 15px;
        }

        &:hover {
            color: #cc1111;
            text-decoration: none;
        }
    }
}