{% extends 'layout.html' %}
{% block content %}
<main role="main" class="container">

    <div class="starter-template">
        <h1>Coronavirus CoVid-19 Social Platform</h1>
        <p class="lead">
            Welcome to covid.social<br />
            The aim of this platform is to try and help people in need during this awful pandemic.<br /><br />

            THIS IS NOT AN OFFICIAL GOVERNMENT WEBSITE AND IT IS NOT INTENDED TO OFFER HELP IN CASE
            OF EMERGENCY !
        </p>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <h1>Coronavirus Covid-19 Worldwide Maps</h1>
            <hr />
        </div>
    </div>

    <div class="row">
        {% for map in maps %}
            <div class="col-4 col-md-3 col-lg-2 arcgis-cta">
                <a href="{% url 'map_arcgis' country=map.slug %}" class="map-link">
                    <div class="map-icon"><i class="fas fa-map"></i></div>
                    <div class="map-location-name">
                        {{ map.name }}
                    </div>
                </a>
            </div>
        {% empty %}
        <div class="col-12">
            There are no maps added yet.
        </div>
        {% endfor %}
    </div>

</main><!-- /.container -->
{% endblock %}
