{% extends 'layout.html' %}
{% load i18n %}
{% block content %}
<main role="main" class="container">

    <div class="starter-template card">
        <h1>Coronavirus CoVid-19 Social Platform</h1>
        <p class="lead">
            Welcome to covid.social<br />
            The aim of this platform is to try and help people in need during this awful pandemic.<br /><br />

            THIS IS NOT AN OFFICIAL GOVERNMENT WEBSITE AND IT IS NOT INTENDED TO OFFER HELP IN CASE
            OF EMERGENCY !
        </p>
    </div>

    {% include 'reports/partial/filter.html' %}

    <div class="row">
        {% for report in reports %}
            {% include 'reports/partial/item.html' with item=report %}
        {% empty %}
        <div class="col-12">
            There are no reports added yet.
        </div>
        {% endfor %}
    </div>

    <div class="card mt-4">
        <div class="card-header">
            Coronavirus Covid-19 Worldwide Maps
        </div>
        <div class="card-body">
            <div class="row">
                {% for map in maps %}
                    <div class="col-6 col-md-6 col-lg-3 arcgis-cta">
                        <a href="{% url 'map_arcgis' country=map.slug %}" class="map-link">
                            <div class="map-icon"><i class="fas fa-map"></i></div>
                            <div class="map-location-name">
                                {{ map.name }}
                            </div>
                        </a>
                    </div>
                {% empty %}
                <div class="col-12">
                    There are no maps added yet.
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</main><!-- /.container -->
{% endblock %}