{% extends "layout.html" %}
{% load i18n %}
{% block page_title %}
    {% blocktrans with app_name=APP_NAME %}Login on {{ app_name }}{% endblocktrans %}
{% endblock %}
{% block body_class %}single-form login{% endblock %}
{% block content %}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-10 offset-1 col-md-4 offset-md-4 ">
            <div class="card">
                <div class="card-body">
                    <div class="text-center text-white">
                        <h2>{{APP_NAME}}</h2>
                        <p>{% blocktrans with app_name=APP_NAME %}Update your {{app_name}} account{% endblocktrans %}</p>
                    </div>
                    {% include "account/forms/form.account.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}