{% extends "layout.html" %}
{% load i18n %}
{% block page_title %}
    {% blocktrans with app_name=APP_NAME %}Change password- {{ app_name }}{% endblocktrans %}
{% endblock %}
{% block body_class %}single-form password-reset{% endblock %}
{% block content %}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-10 offset-1 col-md-4 offset-md-4 ">
            <div class="card">
                <div class="card-body">
                    {% include "account/forms/form.password_reset_confirm.html" %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
