{% extends "layout.html" %}
{% load i18n %}
{% block page_title %}
    {% blocktrans with app_name=APP_NAME %}Password reset complete - {{app_name}}{% endblocktrans %}
{% endblock %}
{% block body_class %}single-form password-reset{% endblock %}
{% block content %}

<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-10 offset-1 col-md-4 offset-md-4 ">
            <div class="card">
                <div class="card-body">
                    <p>{% trans "Your password has been set. You may go ahead and log in now." %}</p>
                    <p><a href="{% url 'login' %}" class="btn btn-primary btn-block">{% trans 'Log in' %}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
