{% load i18n %}
<nav class="navbar navbar-expand-md navbar-light navbar-gradient fixed-top">
    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">COVID-19</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Help</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Goceries</a>
                        <a class="dropdown-item" href="#">Transport</a>
                        <a class="dropdown-item" href="#">Care</a>
                    </div>
                </li>
            </ul>
            <div class="d-inline">
                <ul class="navbar-nav mr-auto">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="account-menu" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">{% blocktrans with name=request.user.first_name %}Hello <span>{{name}}</span>{% endblocktrans %}</a>
                        <div class="dropdown-menu" aria-labelledby="account-menu">
                            <a class="dropdown-item" href="{% url 'account' %}">{% trans "Account" %}</a>
                            <a class="dropdown-item" href="{% url 'password_change' %}">{% trans "Change password" %}</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">{% trans "Log out" %}</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="{% url 'signup' %}">{% trans "Sign up" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-secondary" href="{% url 'login' %}">{% trans "Log in" %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>
</nav>